<article class="filters">
  <div class="filters__container">
    <h2 class="filters__title">
      Фильтры
    </h2>
    <button
      class="filters__reset"
      (click)="resetFilters()"
    >
      Очистить
    </button>
  </div>
  <form
    class="filter-form"
    [formGroup]="filterForm"
    *ngIf="filterFormConfig$ | async as filterFormConfig"
  >
    <label [tuiLabel]="addressLabel">
      <tui-input
        formControlName="address"
        tuiTextfieldSize="m"
        [tuiTextfieldLabelOutside]="true"
        tuiTextfieldIconLeft="tuiIconSearch"
      ></tui-input>
    </label>
    <ng-template #addressLabel>
      <span class="filter-form__label">
        Адрес
      </span>
    </ng-template>

    <label [tuiLabel]="priceLabel">
      <tui-input-range
        formControlName="rangePrice"
        [min]="filterFormConfig.rangePrice[0]"
        [max]="filterFormConfig.rangePrice[1]"
        [quantum]="quantum"
        [steps]="filterFormConfig.steps"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldSize]="'m'"
      ></tui-input-range>
    </label>
    <ng-template #priceLabel>
      <span class="filter-form__label">
        Стоимость, ₽
      </span>
    </ng-template>
  </form>

  <div
    class="filters__loader-container"
    *ngIf="loading$ | async"
  >
    <tui-loader
      [showLoader]="true"
      [size]="'l'"
    ></tui-loader>
  </div>
</article>
