<ul
  class="hotels"
  *ngIf="hotels$ | async as hotels"
>
  <ng-container *ngIf="hotels.length > 0; else emptyData">
    <li
      *ngFor="let hotel of hotels"
    >
      <app-hotel-card [hotel]="hotel"></app-hotel-card>
    </li>
  </ng-container>
</ul>

<ng-template #emptyData>
  <div
    class="hotels__empty-data"
    *ngIf="!(loading$ | async)"
  >
    Извините, по Вашему запросу ничего не найдено
  </div>
</ng-template>

<div
  class="loader-container"
  *ngIf="loading$ | async"
>
  <tui-loader
    [showLoader]="true"
    [size]="'xl'"
  ></tui-loader>
</div>
