:host {
  flex-grow: 1;
}

.hotel-card {
  background-color: var(--base-bg-03);
  border-radius: 8px;

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
  }

  &__title {
    font: var(--font-heading-1);
    color: var(--text-01);
    margin-bottom: 0.5rem;
    display: inline-block;
    cursor: pointer;

    &:hover > .hotel-card__copy-icon {
      opacity: 1;
    }
  }

  &__copy-icon {
    opacity: 0.75;
    transition-duration: 0.3s;
  }

  &__address {
    display: block;
    color: var(--text-03);
  }

  &__city-centre-distance {
    display: block;
  }

  &__img {
    width: 100%;
    height: 100%;
    max-width: 80px;
    max-height: 80px;
    flex-grow: 1;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 8px;
  }
}
