<article class="hotel-card">
  <div class="hotel-card__container">
    <div class="hotel-card__info">
      <h1 class="hotel-card__title">
        {{hotel().hotelTitle}}
      </h1>
      <span class="hotel-card__address">
      {{hotel().address}}
    </span>
      <span class="hotel-card__city-centre-distance">
      {{hotel().cityCentreDistance}}
    </span>
    </div>
    <img
      class="hotel-card__img"
      alt="Фото отеля"
      [src]="imgUrl()"
    >
  </div>
  <ul
    class="hotel-card__offers-list"
    *ngIf="hotel().offers.length > 0"
  >
    <li
      class="hotel-card__offers-item"
      *ngFor="let offer of hotel().offers"
    >
      <app-offer-card [offer]="offer"></app-offer-card>
    </li>
  </ul>
</article>
