<article class="offer-card">
  <img
    class="offer-card__img"
    alt="Фото номера"
    [src]="imgUrl()"
  >
  <div class="offer-card__info">
    <h2 class="offer-card__title">
      {{offer().title}}
    </h2>
    <span class="offer-card__sub-info">
      {{offer().mealTitle}}
    </span>
    <span class="offer-card__sub-info">
      Дополнительные места: {{offer().extraBeds}}
    </span>
  </div>
  <div class="offer-card__rooms-and-price">
    <span class="offer-card__rooms-remained">
      Доступно {{offer().roomsRemained}} номеров
    </span>
    <span class="offer-card__price">
      <b>{{offer().priceInRub}}</b>
    </span>
  </div>
</article>
