:host {
  --tui-disabled-opacity: 1;
}

.offer-card {
  background-color: var(--base-bg-02);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 2rem;
  color: var(--text-03);

  &__img-container {
    max-width: 175px;
    max-height: 175px;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  &__info {
    flex: 2;
  }

  &__title {
    font: var(--font-heading-2);
    color: var(--text-01);
    margin-bottom: 1rem;
  }

  &__sub-info {
    display: block;
  }

  &__rooms-and-price {
    flex: 0.9;
    width: 30%;
    border: 2px var(--border-color) solid;
    border-radius: 8px;
    padding: 1rem 1rem 1.75rem;
    height: max-content;
  }

  &__rooms-remained {
    display: block;
    color: var(--accent);
    margin-bottom: 1rem;
  }

  &__price {
    display: block;
    font: var(--font-text-xl);
    color: var(--text-03);
  }
}
